PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/wrestling_figures

# sandbox or production
EBAY_ENV=sandbox

EBAY_SANDBOX_CLIENT_ID=
EBAY_SANDBOX_CLIENT_SECRET=

EBAY_PRODUCTION_CLIENT_ID=
EBAY_PRODUCTION_CLIENT_SECRET=
